.App {
  text-align: center;
}

body{
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.vertical {
  border-left: 1px solid white;
  height: auto;
  position: relative;
  margin-left: 1em;
  margin-right: 0.5em;
}

/* .nav-item>.dropdown-menu {
  background-color: #FF0000;
} */

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
  border: 2px solid black;
}

.movie-header{
  width: 100%;
  background-color: cornflowerblue;
  margin-top: 0;
}

.movie-header-main {
  width: 85%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: blue;
}

.poster-image {
  width: 100%;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  @media only screen and (max-width: 420px) {
    width: 85%;
    padding: 0;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
}

.poster-spinner {
  margin-top: 100px;
}

.movie-detail {
  width: 100%;
}

.pad-xs {
  @media only screen and (max-width: 576px) {
    margin-right: 20px;
  }
}

.optional-details>:nth-child(n)::before{
  content: "•";
  padding-right: 2px;
  // display: list-item;
  // /* This has to be "list-item"                                               */
  // list-style-type: disc;
  // /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type     */
  // list-style-position: inside;
  // /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-position */
}

.movie-cast-body {
  width: 90%;
  overflow-x: auto;
}

.card {
  margin-right: 2px;
  margin-left: 2px
}

.cast-card {
  width: 95%;
  min-width: 120px;
  max-width: 148px;
  border: 1px solid black;
  border-radius: 3%;
  overflow: hidden;
}

.profile-image {
  width: 100%;
  height: auto;
}

// .trailer-title {
//   color: red;
// }

// iframe {
//   min-width: 600px;
//   width: 100%;
//   height: 100%;
// }

.trailer-modal {
  position: fixed;
  width: 80%;
  z-index: 2000;
  top: 2%;
  left: 10%;
  transition: all 0.4s ease-out;
  background-color: black; 
}

.trailer-video {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.trailer-video::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

.trailer-close {
  width: 40px;
  margin-left: auto;
}

.trailer-close:hover {
  cursor: pointer;
}

.trailer-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.trailer-title {
  background-color: black;
  color: white;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 500;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.search-filter {
  width: 20%;
  min-width: 250px;
  display: flex;
  flex-flow: column;
  background-color: pink;
}

.filter-options {
  width: 95%;
  align-items: center;
  background-color: beige;
  border: 1px solid black ;
}

.filter-count {
  justify-self: center;
  width: 20%;
  text-align: center;
  border: 1px solid black;
  background-color: white;
}

.filter-options:hover{
  cursor: pointer;
}

.search-result-container {
  width: 75%;
  border: 1px solid black;
}

.search-result {
  width: 80%;
  background-color: aqua;
}

.search-poster {
  width: auto;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;

  @media only screen and (max-width: 420px) {
    width: 85%;
    padding: 0;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
}

.searched-result {
  width: 100%;
  height: 200px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid black;
  @media only screen and (max-width: 1024px) {
    // width: 85%;
    // padding: 0;
    // flex-direction: column;
    // margin-left: auto;
    // margin-right: auto;
    width: 100%;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid black;
  }
}