.App {
  text-align: center;
}

body{
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.vertical {
  border-left: 1px solid white;
  height: auto;
  position: relative;
  margin-left: 1em;
  margin-right: 0.5em;
}

/* .nav-item>.dropdown-menu {
  background-color: #FF0000;
} */

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
  border: 2px solid black;
}

.movie-header {
  width: 85%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: blue;
}

.poster-image {
  width: 100%;
  height: auto;
  @media only screen and (max-width: 420px) {
    width: 75%;
    padding: 0;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
}

.poster-spinner {
  margin-top: auto;
}

.movie-detail {
  width: 100%;
}

.pad-xs {
  @media only screen and (max-width: 576px) {
    margin-right: 20px;
  }
}

/* .flex-child:first-child {
  margin-right: 20px;
} */